body {
  background-color: #407c51;
}

#body1 {
  width: 100%;
  height: 91vh;
  background-color: #407c51;
  font-family: "Black Ops One", cursive;
}

#profile {
  margin-left: 93px;
  margin-top: 100px;
}

h1,
h2,
h3 {
  font-size: 65px;
  color: antiquewhite;
  text-align: center;
}

h1 {
  margin-top: -402px;
  margin-left: -32px;
}

h2 {
  margin-top: 63px;
  margin-left: 197px;
}

h3 {
  margin-left: 608px;
}

#adjust-headers {
  margin-top: -428px;
  width: 1900px;
  margin-left: 97px;
}

#adjust-elements {
  position: relative;
  margin-top: -3px;
  right: 57px;
}

#animation1 {
  margin: 0 auto;
  margin-left: 857px;
  margin-top: 150px;
}

#buttonPhotos {
  position: relative;
  bottom: 350px;
  left: 101px;
}

#body2 {
  width: 100%;
  height: 70vh;
  position: relative;
  top: 50px;
  background-color: #407c51;
  font-family: "Black Ops One", cursive;
  text-align: center;
  color: antiquewhite;
}

h5 {
  margin-top: auto;
  position: relative;
  left: 0px;
  font-size: 60px;
}

.box1 {
  position: relative;
  top: -75px;
  left: -18px;
  width: 1850px;
  height: 380px;
  margin: 0 auto;
}

.column1 {
  width: 800px;
  height: 500px;
  background-color: #407c51;
  position: relative;
  left: 543px;
  text-align: justify;
  font-size: 24px;
}

#myInfo1 {
  width: 320px;
  margin: 0 auto;
  text-align: justify;

  font-size: 19px;
  position: relative;
  bottom: 200px;
  right: 222px;
}

#myInfo2 {
  width: 378px;
  margin: 0 auto;
  text-align: justify;
  font-size: 19px;
  position: relative;
  bottom: 339px;
  left: 229px;
}

#animation2 {
  margin: 0 auto;
  position: relative;
  bottom: 770px;
  left: 21px;
}

#body3 {
  position: relative;
  top: 220px;
  width: 99.5%;
  height: 100vh;
  margin: 0 auto;
  background-color: #407c51;
  text-align: center;
  color: antiquewhite;
}

h6 {
  margin-top: auto;
  position: relative;
  left: 0px;
  font-size: 60px;
}

.box2 {
  position: relative;
  top: -75px;
  width: 1850px;
  height: 380px;
  margin: 0 auto;
}

.column2 {
  width: 300px;
  height: 300px;
  background-color: #2b5336;
  float: left;
  border: 1px solid black;
  margin: 34px;
  font-family: roboto;
}

.button {
  background-color: maroon;
  border: 1px solid black;
  color: black;
  font-family: roboto;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 168px;
}

.lockedMP {
  position: relative;
  bottom: 195px;
  margin: 0 auto;
}

.unlockedMP {
  position: relative;
  bottom: 190px;
  margin: 0 auto;
  bottom: 215px;
  margin: 0 auto;
}
