h1 {
  position: relative;
  font-size: 50px;
  font-family: Roboto;
  top: 40px;
  left: 135px;
}

#profile {
  position: relative;
  top: 50px;
  left: 60px;
}

.socmed {
  position: relative;
  top: 90px;
  left: 200px;
}

h2 {
  position: relative;
  font-size: 40px;
  font-family: Roboto;
  top: 90px;
  left: 140px;
}

h3 {
  position: relative;
  font-size: 35px;
  font-family: Roboto;
  top: 70px;
  left: 266px;
}

#paragraph {
  background-color: burlywood;
  width: 1200px;
  height: 800px;
  position: relative;
  left: 908px;
  bottom: 895px;
  text-align: center;
  font-size: 24px;
  font-family: Roboto;
}

p {
  margin-top: 50px;
}
